nav {
    height: 4vh;
    border: 1vh;
    background-color: green;
    text-align: right;
}

main {
    min-height: calc(100vh - 15vh);
}

footer {
    height: 4vh;
    border: 1vh;
    background-color: green;
}
.button {
    display: inline-block;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    
}
h3 {
    text-align: center;
}


.loginContainer {
    display: block;
    text-align: center;

}

.container{
    display: block;
    text-align: center;
}
body {
    background-color:whitesmoke;
}

#customtext {
    visibility: hidden;
}
#text-label {
    visibility: hidden;
}