<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./public/main.css">
    %%PAGE_CSS_LINK%%

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%%TAB_TITLE%%</title>
</head>
<body>
    <nav>
        <a class="button" href="/">Introduktion</a>
        <a class="button" href="/firstServer">First Server</a>
        <a class="button" href="/servingHTML">Serving HTML</a>
        <a class="button" href="/fullCRUDableRESTAPI">Full CRUDable REST API</a>
        <a class="button" href="/fetchingAndRedirecting">Fetching and Redirecting</a>
        <a class="button" href="/SSR">SSR</a>
        <a class="button" href="/edit">Changeable Page</a>
        <a class="button" href="/login">Login</a>
    </nav>

    <main>